.card-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;

  }
  
  .slick-slide {
    padding: 0 5px 35px 0px; /* Reduced padding to bring cards closer */
    margin-top: 10px;
    margin-bottom: 5px;
}

.slick-list {
  padding-left: 250px;
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 150px;
}

.slick-list > div {
  margin-left: 0px;
  margin-right: 0;
  padding-left: 0%;
  padding-right: 0%;
}

  
  .card {
    width: 250px; /* Adjusted for a balanced look, modify as needed */
    height: 360px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    box-shadow: 2px 40px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    padding: 2em;
  
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card:hover .cardtitle {
    display: none;
  
  }
  
  .card:hover .cardinfo {
    display: none;
  }
  
  .card:hover hr {
    display: none;
  }
  
  
  .card:hover .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .image-content {
    position: relative;
    text-align: center;
  }
  
  
  
  /* .card-image img {
    width: 100%;
    display: block;
    max-height: 80x;
    border-radius: 200px;
  }
   */
    
  
  .cardtitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .cardinfo,
  .cardDiff {
    font-size: 1rem;
   
  
  }
  
  .cardInfoWrapper {
    max-height: 40x;
    overflow: hidden;
  
  }
  
  
  .cardDiff {
    font-style: italic;
    color: #888;
  }
  
  
  
  .cardtitle {
    font-size: 1.4rem;
  }
  
  .cardinfo,
  .cardDiff {
    font-size: 1.0rem;
    display: block;
  }
  
  
  
  .cardDivider {
    border-radius: 10px;
    color: #F5F5F5;
    width: 100%;
    height: 50%;
    background-color: rgb(56, 55, 55);
  }
  
  
  .clickinfo{
    padding-top: 130px;
    font-weight: bold;
  }
  .overlay {
    display: block;
    padding-top: 20px;
    padding:10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: clip;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(56, 55, 55);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  
  
  }
  
  /* Media Query for larger screens */
  @media (min-width: 768px) {
    .card-wrapper {
      max-width: 600px;
      max-height: 500px;
    }
  }
  
  @media (min-width: 640px) {
    .card-wrapper {
      width: 30%;
      max-width: 28rem;
      /* equivalent to max-w-md */
    }

    .cardDivider {
      width: 100%; 

    }
  }
  
  @media (min-width: 1024px) {
    .card {
      height: 280px;
      width: 200px;
    }

    .cardDivider {
      width: 100%; 
   
    }
  }
  
  @media (max-width: 480px) {
    .card {
      height: 150px;
      /* Height for mobile */
    }
  
    .cardtitle {
      font-size: 1rem;
    }

    .cardDivider {
      width: 100%; 
      height: 100%;
   
    }

    .cardinfo, .cardDiff{
      display: none;
    }
  }
  
  @media (max-height: 480px) {
    .card {
      height: 150px;
     width: 300px;
    }
  
    .cardtitle {
      font-size: 10px;
    }
    .cardDivider {
      height: 100%;
      width: 100%; 
      /* Height for mobile */
    }
  
    .cardinfo,
    .cardDiff {
      display: none;
    }
  
  }