.cardListSection {
  margin-bottom: 175px;
  margin-top: 20px;
}



.slick-slide {
  padding: 0 5px 35px 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}



.slick-list {
  padding-left: 250px;
  padding-right: 10px;
  margin-left: 50px;
  margin-right: 100px;
}



.slider-container {
  position: relative;
  padding: 0 10px;
  /* Makes space for arrows */
  margin: 10px 0;
}

/* Arrow Styles */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 30px !important;
  height: 30px !important;
  background: #333 !important;
  /* Dark background */
  border-radius: 50%;
  opacity: 0.8;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
  background: #444 !important;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px !important;
  opacity: 1 !important;
  color: white !important;
}

/* Dots style if you want them */
.slick-dots {
  bottom: -25px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;

}

.card {
  width: 250px;
  height: 350px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #b54a3d;;
  border-radius: 15px;
  box-shadow: 2px 40px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  padding: 2em;

}

.card:hover {
  transform: translateY(-10px);
}

.card:hover .cardtitle {
  display: none;

}

.card:hover .cardinfo {
  display: none;
}

.card:hover hr {
  display: none;
}


.card:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.cardtitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

.cardinfo,
.cardDiff {
  font-size: 1rem;
  padding: 2px;


}

.cardInfoWrapper {
  max-height: 40x;
  overflow: hidden;

}


.cardDiff {
  font-style: italic;
  color: #888;
}



.cardtitle {
  font-size: 1.4rem;
}

.cardinfo,
.cardDiff {
  color: white;
  font-size: 1.0rem;
  display: block;
}

.cardLine {
  margin: 8px;
}

.cardDivider {
  border-radius: 10px;
  color: #fff6f6;
  width: 100%;
  height: 50%;
  background-color: #3e3e3e;
  
}


.clickinfo {
  padding-top: 130px;
  font-weight: bold;
}

.overlay {
  display: block;
  padding-top: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: clip;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(56, 55, 55);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;


}

/* Media Query for larger screens */
@media (min-width: 768px) {
  .card-wrapper {
    max-width: 600px;
    max-height: 500px;
  }
}

@media (min-width: 640px) {
  .card-wrapper {
    width: 30%;
    max-width: 28rem;
    /* equivalent to max-w-md */
  }

  .cardDivider {
    width: 100%;

  }
}

@media (min-width: 1024px) {
  .card {
    height: 280px;
    width: 200px;
  }

  .cardDivider {
    width: 100%;

  }
}

@media (max-width: 480px) {
  .card {
    height: 150px;
    /* Height for mobile */
  }

  .cardtitle {
    font-size: 1rem;
  }

  .cardDivider {
    width: 100%;
    height: 100%;

  }

  .cardinfo,
  .cardDiff {
    display: none;
  }
}

@media (max-height: 480px) {
  .card {
    height: 150px;
    width: 300px;
  }

  .cardtitle {
    font-size: 10px;
  }

  .cardDivider {
    height: 100%;
    width: 100%;
    /* Height for mobile */
  }

  .cardinfo,
  .cardDiff {
    display: none;
  }

}