* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Header Section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b54a3d;
    padding: 30px;
    color: #ffffff;
    height: 120px;
}

header .logo h1 {
    font-size: 30px;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    padding-right: 40px;
}

header nav a {
    color: #ffffff;
    padding-right: 10px;
    text-decoration: none;
    font-weight:bold;
    font-size: 24px;
    margin: 0;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #555;
}

header nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

/* Muscle Groups Section */
.muscle-groups-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.muscle-groups-container {
    overflow: hidden;
    /* width: 560px; */
    padding-top: 10px;
    margin: 10px auto;
}

.muscle-groups {
    display: flex;
    transition: transform 0.3s ease;
}

.muscle {
    flex: 0 0 auto;
    width: 120px;
    margin: 0 10px;
    text-align: center;
}

.muscleIcons:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
  }
  
.muscle img {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #e4e0d7;
    padding: 5px;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: opacity 0.3s ease;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

/* Quote Section */
.quote {
    text-align: center;
    padding: 20px 40px;
    font-size: 18px;
    font-style: italic;
    color: #555;
}

/* Testimonials Section */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 40px;
    background-color: #fdfbf7;
    gap: 40px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 30px;
    flex: 1;
    max-width: 50%;
}

.testimonial {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.testimonial img {
    width: 100%;
    border-radius: 10px;
}

.testimonial blockquote {
    margin-top: 15px;
    font-size: 16px;
    font-style: italic;
    color: #333;
}

/* Celebrity Workouts Section */
.celebrity-workouts {
    flex: 1;
    max-width: 50%;
    padding: 0;
}

.celebrity-workouts h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.card-image{
    object-position: top;
}

.card-image-container{
    height: 300px;
}

@media (max-width: 1024px) {
    .content-wrapper {
        flex-direction: column;
        padding: 20px;
    }

    .testimonials,
    .celebrity-workouts {
        max-width: 100%;
    }
}