.acctbody{
    display: flex;
    /* margin: 20px; */
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .7)),
    url('../../public/loginphoto.jpg');
    background-size: contain; 
    background-position: center; 
    height: 100vh; 
    justify-content: center; 
    overflow: hidden; 
}

.centerbox{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    flex-direction: column;

}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d4aeae;
    padding: 20px 60px 70px;
    text-align: center;
    opacity: 90%;
}

.loginbox{
    display: flex;
    height: 30vh;
}

input{
    background-color: #eaeaea;
    margin: 10px 0;
    display: flex;
    border-radius: 8px;
    height: 30px;
    padding-left: 10px;

}

h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c0000;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

#bttn{
    border-radius: 10px;
    padding: 8px;
    margin-left: 10%;
    margin-right: 10%;


}


